<h1>Sitemap</h1>
<%= link_to 'Homepage', @public_dir %><br />
<% unless @pages.blank? %>
  <ul>
  <% @pages.each do |page| %>
    <li><%= link_to page.title, @public_dir + page.slug %></li>
  <% end %>
  </ul>
<% end %>
<% unless @taxons.blank? %>
  <h3>Categories</h3>
  <ul>
  <% @taxons.each do |taxon| %>
    <li><%= link_to taxon.name, @public_dir + taxon.permalink %></li>
  <% end %>
  </ul>
<% end %>
<% unless @products.blank? %>
  <h3>Products</h3>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, @public_dir + "/products/" + product.permalink %></li>
    <% end %>
  </ul>
<% end %>